input {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  &:focus,
  &:active,
  &:hover {
    outline: none;
    border-color: #007bff;
  }

  /*  &:invalid {
    border-color: red;
  } */
}
