<header class="text-white bg-gray-100 dark:bg-gray-900">
  <div class="container px-4">
    <div class="flex items-center justify-between h-14">
      <div class="flex items-center gap-4">
        <a class="flex items-center gap-2" [routerLink]="['/']"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="w-6 h-6"
          >
            <path d="M6 2 3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4Z"></path>
            <path d="M3 6h18"></path>
            <path d="M16 10a4 4 0 0 1-8 0"></path>
          </svg>
          <span class="sr-only">Home</span
          ><span class="text-base font-semibold">Home</span></a
        >
        <nav class="flex items-center gap-4">
          <a
            class="text-sm font-medium"
            [routerLink]="['/cart']"
            routerLinkActive="router-link-active"
          >
            Cart </a
          ><a class="text-sm font-medium" [routerLink]="['/login']"> Login </a
          ><a class="text-sm font-medium" href="#"> Contact </a
          ><a class="text-sm font-medium" href="#"> Cart </a>
        </nav>
      </div>
      <div class="flex items-center gap-4">
        <div class="w-48">
          <input
            class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
            placeholder="Search"
            type="email"
          />
        </div>
      </div>
    </div>
  </div>
</header>
