<div class="flex items-start justify-center px-4 py-12 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-4">
    <div class="space-y-2">
      <h1 class="text-3xl font-bold">Logo</h1>
      <p class="text-sm font-medium leading-loose tracking-wide text-gray-500">Welcome back! Log in to your account.</p>
    </div>
    <form class="space-y-2" [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)">
      <div class="space-y-1">
        <label class="form-label" for="email"> Email </label
        ><input
          class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="email"
          placeholder="Email"
          required=""
          type="email"
          formControlName="email"
        />
      </div>
      <div class="space-y-1">
        <label class="form-label" for="password"> Password </label
        ><input
          class="flex w-full h-10 px-3 py-2 text-sm border rounded-md border-input bg-background ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          id="password"
          placeholder="Password"
          required=""
          type="password"
          formControlName="password"
        />
      </div>
      <div class="flex items-center justify-between">
        <div class="flex items-center space-x-2">
          <button
            class="peer h-4 w-4 shrink-0 rounded-sm border border-primary ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=checked]:text-primary-foreground"
            id="remember"
            type="button"
            role="checkbox"
            aria-checked="false"
            data-state="unchecked"
            value="on"
          ></button
          ><label class="text-sm font-medium leading-none" for="remember"> Remember me </label>
        </div>
        <a class="text-sm font-medium underline" href="#"> Forgot your password</a>
      </div>

      <button class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-800 bg-gray-200 rounded-md hover:bg-gray-300" type="submit">Login</button>
    </form>
    <div class="space-y-2">
      <a class="w-full btn btn-outline" [routerLink]="['/register']"> Create an account </a>
    </div>
    <div class="grid gap-2 py-2 border-t border-gray-200"><a class="text-sm font-medium" href="#"> Terms of Service </a><a class="text-sm font-medium" href="#"> Privacy Policy </a></div>
  </div>
</div>
